@charset "UTF-8";
/*
    font face
 */
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff");
}

/*
    general style
 */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 979px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 94%;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90.625%;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

a:active, a:focus {
  outline: none;
}

img {
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1, h2, h3 {
  font-family: "OpenSans-Bold", sans-serif;
}

h1, h2 {
  font-size: 48px;
  line-height: 125%;
  color: #472f9c;
}

@media (max-width: 1199px) {
  h1, h2 {
    font-size: 45px;
  }
}

@media (max-width: 979px) {
  h1, h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 36px;
  line-height: 128%;
  text-align: center;
  color: #472f9c;
}

h4, h5 {
  font-family: "OpenSans-SemiBold", sans-serif;
  color: #151d63;
}

h4 {
  font-size: 24px;
  line-height: 130%;
}

h5 {
  font-size: 18px;
  line-height: 150%;
}

.price span {
  line-height: 100%;
  text-transform: uppercase;
}

.price span.old-price {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 24px;
  color: #444;
  display: inline-block;
  position: relative;
}

.price span.old-price:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #ff0000;
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%) skewY(-3deg);
      -ms-transform: translateY(-50%) skewY(-3deg);
          transform: translateY(-50%) skewY(-3deg);
  left: 0;
}

.price span.new-price {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 30px;
  color: #472f9c;
  display: block;
  margin-top: 8px;
}

.to-order, .form-group.order {
  max-width: 340px;
  text-align: center;
}

.to-order a, .to-order button, .form-group.order a, .form-group.order button {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 19px 0 18px;
  background: #7854f6;
  -webkit-box-shadow: 0 10px 20px rgba(120, 84, 246, 0.3);
          box-shadow: 0 10px 20px rgba(120, 84, 246, 0.3);
  border: none;
  border-radius: 20px;
  -webkit-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.to-order a:hover, .to-order button:hover, .form-group.order a:hover, .form-group.order button:hover {
  background: #5625ff;
}

.to-order p, .form-group.order p {
  margin-top: 5px;
  line-height: 130%;
}

.to-order p output, .form-group.order p output {
  font-family: "OpenSans-SemiBold", sans-serif;
  color: #472f9c;
}

.sale {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 142px;
  height: 67px;
  background: #3EA010;
  border-radius: 10px;
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
  position: relative;
}

.sale span {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 36px;
  line-height: 150%;
  color: #fff;
  position: absolute;
  top: 8.99px;
  left: 29.41px;
}

.owl-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.owl-nav button {
  position: relative;
  z-index: 25;
}

.owl-nav button.owl-next {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.owl-nav button svg path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 20;
}

.owl-dots button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

form .form-group input {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #222;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid #666666;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

form .form-group input::-webkit-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #222;
  opacity: 1;
}

form .form-group input::-moz-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #222;
  opacity: 1;
}

form .form-group input:-ms-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #222;
  opacity: 1;
}

form .form-group input::-ms-input-placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #222;
  opacity: 1;
}

form .form-group input::placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #222;
  opacity: 1;
}

form .form-group input:active, form .form-group input:focus, form .form-group input:required {
  outline: none;
}

form .form-group input:active, form .form-group input:focus {
  border: 1px solid #7854f6;
}

form .form-group.tel {
  margin: 10px 0 20px;
}

/*
    header start
 */
.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#e7f0ff), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, #e7f0ff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, #e7f0ff 0%, rgba(255, 255, 255, 0) 100%);
  padding: 77px 0 138px;
}

@media (max-width: 979px) {
  .header {
    padding: 13px 0 36px;
  }
}

.header__content {
  position: relative;
}

@media (max-width: 979px) {
  .header__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__content h1 {
  max-width: 655px;
}

@media (max-width: 1199px) {
  .header__content h1 {
    max-width: 580px;
  }
}

@media (max-width: 979px) {
  .header__content h1 {
    max-width: 655px;
    margin: 0 auto;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__content h4 {
  margin: 27px auto 47px;
}

@media (max-width: 1199px) {
  .header__content h4 {
    max-width: 580px;
    margin: 27px 0 47px;
  }
}

@media (max-width: 979px) {
  .header__content h4 {
    max-width: 100%;
    text-align: center;
    margin: 9px auto 66px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header__content-img {
  position: absolute;
  top: 23px;
  right: 0;
  width: 457px;
  height: 600px;
}

@media (max-width: 1199px) {
  .header__content-img {
    top: 53px;
    width: 360px;
    height: 472px;
  }
}

@media (max-width: 979px) {
  .header__content-img {
    width: 457px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
}

.header__content-img figure {
  width: 100%;
  height: 100%;
  background: #fdda42;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  z-index: 9;
}

.header__content-img img {
  position: absolute;
}

.header__content-img img.girl {
  bottom: 0;
  right: 20.06px;
  z-index: 10;
  width: 123%;
  max-width: 560px;
}

@media (max-width: 979px) {
  .header__content-img img.girl {
    width: 86%;
    min-width: 250px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header__content-img img.product {
  width: 95%;
  max-width: 434px;
  top: 29.8%;
  left: -267px;
  z-index: 11;
}

@media (max-width: 979px) {
  .header__content-img img.product {
    width: 86%;
    min-width: 250px;
    top: -10%;
    left: 3%;
  }
}

.header__content-img .sale {
  position: absolute;
  bottom: 100.21px;
  left: -169.78px;
  z-index: 12;
}

@media (max-width: 979px) {
  .header__content-img .sale {
    top: 31.67%;
    left: 6.55%;
  }
}

.header__content-img:before, .header__content-img:after {
  content: "";
  display: block;
  position: absolute;
}

.header__content-img:before {
  /* заменить на */
  width: 284px;
  height: 252px;
  background: url("../img/header/3.png") no-repeat center/cover;
  top: 23px;
  right: -89.83px;
}

@media (max-width: 979px) {
  .header__content-img:before {
    width: 42px;
    height: 75px;
    background: url("../img/header/1.png") no-repeat center/cover;
    top: calc(100% - 95px);
    left: 20px;
    z-index: 12;
  }
}

.header__content-img:after {
  width: 184px;
  height: 92px;
  background: url("../img/header/4.png") no-repeat center/cover;
  bottom: -72px;
  right: -50px;
}

@media (max-width: 979px) {
  .header__content-img:after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -6px;
    right: -91px;
  }
}

@media (max-width: 979px) {
  .header__content ul {
    max-width: 350px;
    margin: 48px auto 0;
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
}

.header__content ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 51px;
  position: relative;
}

.header__content ul li p {
  line-height: 130%;
}

.header__content ul li:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/header/checked.png") no-repeat center/cover;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.header__content ul li:nth-child(2) {
  margin: 29px 0;
}

.header__content ul:before {
  content: "";
  display: block;
  width: 180px;
  height: 126px;
  background: url("../img/header/5.png") no-repeat center/cover;
  position: absolute;
  bottom: -213px;
  right: calc(100% - 46px);
}

@media (max-width: 1199px) {
  .header__content ul:before {
    bottom: -150px;
    right: calc(100% - 180px);
  }
}

@media (max-width: 979px) {
  .header__content ul:before {
    width: 115px;
    height: 119px;
    background: url("../img/header/6.png") no-repeat center/cover;
    bottom: -81px;
    right: 4.08px;
  }
}

.header__content .price {
  max-width: 340px;
  text-align: center;
  margin: 52px 0 27px;
}

@media (max-width: 979px) {
  .header__content .price {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    margin: 26px auto 27px;
  }
}

@media (max-width: 979px) {
  .header__content .to-order {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
    margin: 0 auto;
  }
}

.header__content:before, .header__content:after {
  content: "";
  display: block;
  position: absolute;
}

.header__content:before {
  /* скрыть на md */
  width: 56px;
  height: 100px;
  background: url("../img/header/1.png") no-repeat center/cover;
  top: 113px;
  left: -138.9px;
}

@media (max-width: 979px) {
  .header__content:before {
    display: none;
  }
}

.header__content:after {
  width: 144px;
  height: 120px;
  background: url("../img/header/2.png") no-repeat center/cover;
  top: -30px;
  right: -192px;
}

@media (max-width: 1199px) {
  .header__content:after {
    top: -70px;
    right: -52px;
  }
}

@media (max-width: 979px) {
  .header__content:after {
    width: 72px;
    height: 60px;
    top: 27px;
    right: -42.75px;
  }
}

/*
    advantages style
 */
.advantages {
  padding: 5px 0 64px;
}

@media (max-width: 979px) {
  .advantages {
    padding: 0 0 0;
  }
}

.advantages__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__content-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 32%;
  max-width: 360px;
  padding: 50px 0px 44px;
  border-radius: 20px;
  text-align: center;
  -webkit-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  position: relative;
}

.advantages__content-block svg {
  position: absolute;
  top: 26px;
  right: 112px;
}

.advantages__content-block span {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 0 auto 28px;
  position: relative;
}

.advantages__content-block span:after {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 979px) {
  .advantages__content-block h4 {
    font-size: 20px;
  }
}

.advantages__content-block:first-child span {
  background: #ff650f;
  -webkit-box-shadow: 0 10px 20px rgba(255, 101, 15, 0.3);
          box-shadow: 0 10px 20px rgba(255, 101, 15, 0.3);
}

.advantages__content-block:first-child span:after {
  background: url("../img/advantages/1.png") no-repeat center/cover;
}

.advantages__content-block:nth-child(2) svg circle {
  fill: #7854f6;
}

.advantages__content-block:nth-child(2) span {
  background: #7854f6;
  -webkit-box-shadow: 0 10px 20px rgba(120, 84, 246, 0.3);
          box-shadow: 0 10px 20px rgba(120, 84, 246, 0.3);
}

.advantages__content-block:nth-child(2) span:after {
  background: url("../img/advantages/2.png") no-repeat center/cover;
}

.advantages__content-block:last-child svg circle {
  fill: #ee4057;
}

.advantages__content-block:last-child span {
  background: #ee4057;
  -webkit-box-shadow: 0 10px 20px rgba(238, 64, 87, 0.3);
          box-shadow: 0 10px 20px rgba(238, 64, 87, 0.3);
}

.advantages__content-block:last-child span:after {
  width: 98px;
  background: url("../img/advantages/3.png") no-repeat center/cover;
}

.advantages__content-block:hover {
  background: #faf9ff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/*
    about style
 */
.about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#e7f0ff));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #e7f0ff 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e7f0ff 100%);
  padding: 69px 0 104.12px;
}

@media (max-width: 979px) {
  .about {
    padding: 61px 0 50px;
  }
}

.about__content {
  position: relative;
}

.about__content h3 {
  text-align: left;
}

@media (max-width: 979px) {
  .about__content h3 {
    text-align: center;
  }
}

.about__content p {
  max-width: 555px;
  margin: 31px 0 33px;
}

@media (max-width: 1199px) {
  .about__content p {
    max-width: 530px;
  }
}

@media (max-width: 979px) {
  .about__content p {
    text-align: center;
    max-width: 100%;
    margin: 18px auto 23px;
  }
}

.about__content p span {
  font-family: "OpenSans-SemiBold", sans-serif;
  text-transform: uppercase;
  color: #ee4057;
}

.about__content-img {
  width: 49%;
  max-width: 555px;
  position: absolute;
  top: 17px;
  right: 0;
}

@media (max-width: 1199px) {
  .about__content-img {
    top: 57px;
  }
}

@media (max-width: 979px) {
  .about__content-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 555px;
    margin: 0 auto;
  }
}

.about__content-img img {
  margin: 0;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}

.about__content-img img:first-of-type {
  width: 88%;
  max-width: 485px;
  margin-left: auto;
  position: relative;
  z-index: 9;
}

.about__content-img img:nth-of-type(2) {
  width: 73%;
  max-width: 400px;
  margin-top: -50px;
}

.about__content-img a {
  width: 121px;
  height: 121px;
  background: url("../img/about/video.png") no-repeat center/cover;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
  position: absolute;
  top: 171px;
  left: 14px;
  z-index: 12;
}

.about__content-img:before, .about__content-img:after {
  content: "";
  display: block;
  position: absolute;
}

.about__content-img:before {
  width: 80px;
  height: 56px;
  background: url("../img/about/3.png") no-repeat center/cover;
  bottom: 20px;
  right: -32px;
  z-index: 10;
}

.about__content-img:after {
  width: 256px;
  height: 451px;
  background: url("../img/about/4.png") no-repeat center/cover;
  bottom: -104.12px;
  right: -115px;
  z-index: -1;
}

.about__content ul {
  max-width: 555px;
}

@media (max-width: 1199px) {
  .about__content ul {
    max-width: 500px;
  }
}

@media (max-width: 979px) {
  .about__content ul {
    max-width: 100%;
    margin: 32px auto 24px;
  }
}

.about__content ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  margin-bottom: 13px;
  position: relative;
}

.about__content ul li:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #3ea010;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 0;
}

.about__content ul li:last-child {
  margin-bottom: 0;
}

.about__content .to-order {
  margin-top: 44px;
}

@media (max-width: 979px) {
  .about__content .to-order {
    margin: 0 auto;
  }
}

/*
    description style
 */
.description {
  background: #e7f0ff;
  padding: 33px 0 56.6px;
}

@media (max-width: 979px) {
  .description {
    padding: 17px 0 67px;
  }
}

.description h3 {
  max-width: 655px;
  margin: 0 auto 166px;
}

@media (max-width: 979px) {
  .description h3 {
    margin-bottom: 99px;
  }
}

.description__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.description__content-block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 49%;
  max-width: 555px;
  padding: 103px 0 43px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: center;
  position: relative;
  z-index: 9;
}

.description__content-block p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 50px;
  margin-top: 14px;
}

@media (max-width: 979px) {
  .description__content-block p {
    padding: 0 25px;
  }
}

.description__content-block:after {
  content: "";
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 20px;
  position: absolute;
  top: -75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.description__content-block:first-child, .description__content-block:nth-child(2) {
  margin-bottom: 135px;
}

@media (max-width: 979px) {
  .description__content-block:first-child, .description__content-block:nth-child(2) {
    margin-bottom: 114px;
  }
}

.description__content-block:first-child:after {
  background: url("../img/description/1.png") no-repeat center/cover;
}

.description__content-block:nth-child(2):after {
  background: url("../img/description/2.png") no-repeat center/cover;
}

.description__content-block:nth-child(3):after {
  background: url("../img/description/3.png") no-repeat center/cover;
}

.description__content-block:last-child:after {
  background: url("../img/description/4.png") no-repeat center/cover;
}

.description__content:before, .description__content:after {
  content: "";
  display: block;
  position: absolute;
}

.description__content:before {
  width: 260px;
  height: 260px;
  background: url("../img/description/5.png") no-repeat center/cover;
  top: 144px;
  left: -143px;
}

@media (max-width: 979px) {
  .description__content:before {
    width: 130px;
    height: 130px;
    top: 308px;
    left: -45px;
  }
}

.description__content:after {
  width: 284px;
  height: 252px;
  background: url("../img/description/6.png") no-repeat center/cover;
  bottom: -56.6px;
  right: -90.83px;
}

/*
    gallery style
 */
.gallery {
  background: #e7f0ff;
  padding: 76.4px 0 100px;
}

@media (max-width: 979px) {
  .gallery {
    padding: 0 0 65px;
  }
}

.gallery__content h3 {
  text-align: center;
}

.gallery__content h4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 22px auto 31px;
}

@media (max-width: 1199px) {
  .gallery__content h4 {
    font-size: 22px;
  }
}

@media (max-width: 979px) {
  .gallery__content h4 {
    font-size: 16px;
  }
}

.gallery__content h4 span {
  display: inline-block;
  width: 52px;
  height: 51px;
  background: url("../img/gallery/icon.png") no-repeat center/cover;
}

.gallery__content p {
  line-height: 130%;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 488px;
  padding: 12px 0 15px;
  margin: 0 auto;
  position: relative;
}

.gallery__content p:before {
  content: "";
  display: block;
  width: 26px;
  height: 16px;
  background: url("../img/gallery/arrow.png") no-repeat center/cover;
  position: absolute;
  top: 17.05px;
}

.gallery__content p:first-of-type {
  background: #22438f;
  border-radius: 10px 10px 0px 0px;
  padding: 12px 122px 15px 155px;
}

.gallery__content p:first-of-type:before {
  left: 120.02px;
}

.gallery__content p:last-of-type {
  background: #4f8e0b;
  border-radius: 0px 0px 10px 10px;
  padding: 12px 84px 15px 48px;
}

.gallery__content p:last-of-type:before {
  right: 49.81px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.gallery__content-block {
  border-radius: 20px;
  overflow: hidden;
  max-width: 753px;
  margin: 0 auto;
}

/*
    catalog style
 */
.catalog {
  background: #e7f0ff;
  padding: 50px 0 83px;
}

@media (max-width: 979px) {
  .catalog {
    padding: 15px 0 67px;
  }
}

.catalog__content {
  position: relative;
}

.catalog__content section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 79px 44px 0;
  background: #faf9ff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .catalog__content section {
    padding-bottom: 38px;
  }
}

@media (max-width: 1199px) {
  .catalog__content section {
    padding-right: 39px;
  }
}

@media (max-width: 979px) {
  .catalog__content section {
    padding: 22px 0 35px;
  }
}

.catalog__content section > p {
  max-width: 410px;
  line-height: 25px;
  margin: 18px 0 34px auto;
}

@media (max-width: 979px) {
  .catalog__content section > p {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 25px;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .catalog__content section > p {
    padding: 0 10px;
  }
}

.catalog__content h3 {
  text-align: right;
}

@media (max-width: 979px) {
  .catalog__content h3 {
    text-align: center;
  }
}

.catalog__content .price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0 16px 61.35%;
}

@media (max-width: 1199px) {
  .catalog__content .price {
    margin-left: 55.35%;
  }
}

@media (max-width: 979px) {
  .catalog__content .price {
    margin: 21px auto 9px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog__content .price span.new-price {
  display: inline-block;
  margin-top: 0;
  margin-left: 20.13px;
}

.catalog__content .rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 142px;
  margin-left: 61.26%;
}

@media (max-width: 1199px) {
  .catalog__content .rating {
    margin-left: 55.26%;
  }
}

@media (max-width: 979px) {
  .catalog__content .rating {
    margin: 0 auto;
  }
}

.catalog__content .rating h4 {
  line-height: 33px;
  color: #222;
}

.catalog__content .rating__area {
  width: 98px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__content .rating a {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #222;
  width: 100%;
  margin-top: -5px;
}

@media (max-width: 979px) {
  .catalog__content .rating a {
    text-align: center;
  }
}

.catalog__content-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

@media (max-width: 1199px) {
  .catalog__content-img {
    width: 450px;
    top: 50%;
    left: 30.5px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 20px;
  }
}

@media (max-width: 979px) {
  .catalog__content-img {
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: 25px auto 20px;
  }
}

.catalog__content-img .sale {
  width: 94px;
  height: 47px;
  background: #fdda42;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 15;
}

.catalog__content-img .sale span {
  font-size: 24px;
  line-height: 150%;
  color: #472f9c;
  top: 5px;
  left: 19px;
}

.catalog__content-img__slider {
  position: relative;
}

.catalog__content-img__slider .owl-nav {
  width: 90%;
  max-width: 538px;
  position: absolute;
  bottom: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.catalog__content-img__slider .owl-nav button svg path {
  fill: #fff;
}

.catalog__content-img__slider .owl-nav button:hover svg path {
  fill: #fdda42;
}

.catalog__content-img__slider .owl-dots {
  position: absolute;
  bottom: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.catalog__content-img__slider .owl-dots button {
  background: #fff !important;
}

.catalog__content-img__slider .owl-dots button.active {
  background: #fdda42 !important;
}

.catalog__content-img__slider figure img {
  width: 100%;
}

.catalog__content form {
  max-width: 340px;
  margin-left: 61.16%;
}

@media (max-width: 1199px) {
  .catalog__content form {
    margin-left: 55.16%;
  }
}

@media (max-width: 979px) {
  .catalog__content form {
    margin: 24px auto 0;
  }
}

.catalog__content form .form-group input {
  padding: 18px 20px 17px;
}

.catalog__content:before, .catalog__content:after {
  content: "";
  display: block;
  position: absolute;
}

.catalog__content:before {
  width: 184px;
  height: 92px;
  background: url("../img/catalog/5.png") no-repeat center/cover;
  top: -50px;
  left: -83px;
}

@media (max-width: 979px) {
  .catalog__content:before {
    top: -15px;
    left: -9px;
  }
}

.catalog__content:after {
  width: 136px;
  height: 113px;
  background: url("../img/catalog/6.png") no-repeat center/cover;
  bottom: -40px;
  right: -57px;
}

@media (max-width: 979px) {
  .catalog__content:after {
    width: 68px;
    height: 56px;
    bottom: -24.5px;
    right: -17px;
  }
}

.catalog h4.title {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 718px;
  padding: 20px 0 26px;
  border: 2px solid #151d63;
  border-radius: 20px;
  margin: 50px auto 0;
}

/*
    photo style
 */
.photo {
  background: #e7f0ff;
  padding-bottom: 100px;
}

@media (max-width: 979px) {
  .photo {
    padding-bottom: 50px;
  }
}

.photo h3 {
  margin-bottom: 42px;
}

@media (max-width: 979px) {
  .photo h3 {
    margin-bottom: 25px;
  }
}

.photo__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo__content-block {
  width: 32%;
  max-width: 360px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

.photo__content-block img {
  width: 100%;
}

/*
    review style
 */
.review {
  padding-top: 83px;
}

@media (max-width: 979px) {
  .review {
    padding-top: 37px;
  }
}

.review__content {
  position: relative;
}

.review__content-slider {
  max-width: 810px;
  margin: 0 auto;
}

.review__content-slider .owl-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px 70px;
}

.review__content-slider .owl-nav {
  max-width: 630px;
  margin: -20px auto 0;
}

@media (max-width: 979px) {
  .review__content-slider .owl-nav {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 29px;
  }
}

.review__content-slider .owl-nav button svg path {
  fill: #666;
}

.review__content-slider .owl-nav button:hover svg path {
  fill: #7854f6;
}

.review__content-slider .owl-dots {
  margin-top: -21px;
  position: relative;
  z-index: 20;
}

.review__content-slider .owl-dots button {
  background: #888 !important;
}

.review__content-slider .owl-dots button.active {
  background: #7854f6 !important;
}

.review__content-slider__item {
  position: relative;
}

.review__content-slider__item figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  padding: 69px 50px 45px;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: center;
}

.review__content-slider__item figure p {
  margin-bottom: 15px;
}

.review__content-slider__item figure p span {
  font-family: "OpenSans-SemiBold", sans-serif;
  text-transform: uppercase;
  color: #ee4057;
}

.review__content-slider__item:before {
  content: "";
  display: block;
  width: 92%;
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.review__content:before, .review__content:after {
  /* скрыть на md */
  content: "";
  display: block;
  position: absolute;
}

@media (max-width: 979px) {
  .review__content:before, .review__content:after {
    display: none;
  }
}

.review__content:before {
  width: 211px;
  height: 207px;
  background: url("../img/review/1.png") no-repeat center/cover;
  top: 232.12px;
  left: -72.44px;
}

@media (max-width: 1199px) {
  .review__content:before {
    left: -32.44px;
  }
}

.review__content:after {
  width: 96px;
  height: 104px;
  background: url("../img/review/2.png") no-repeat center/cover;
  top: 450px;
  right: -21.13px;
}

@media (max-width: 1199px) {
  .review__content:after {
    right: 0;
  }
}

/*
    choose style
 */
.choose {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#e7f0ff));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #e7f0ff 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e7f0ff 100%);
  padding: 25px 0 70px;
}

@media (max-width: 979px) {
  .choose {
    padding: 15px 0 45px;
  }
}

.choose p.send {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.choose p.send:hover {
  text-decoration: none;
}

.choose__content {
  margin-top: 86px;
  position: relative;
}

@media (max-width: 979px) {
  .choose__content {
    margin-top: 61px;
  }
}

.choose__content h2 {
  text-align: center;
  margin-left: auto;
  max-width: 559px;
}

@media (max-width: 979px) {
  .choose__content h2 {
    margin: 0 auto;
  }
}

.choose__content h4 {
  line-height: 150%;
  text-align: center;
  max-width: 555px;
  margin: 26px 0 38px auto;
}

@media (max-width: 979px) {
  .choose__content h4 {
    margin: 7px auto 251px;
  }
}

.choose__content h4 span {
  display: block;
  color: #ee4057;
}

.choose__content-img {
  width: 457px;
  height: 600px;
  position: absolute;
  top: 23px;
  left: 0;
  z-index: 9;
}

@media (max-width: 1199px) {
  .choose__content-img {
    top: 53px;
    width: 360px;
    height: 472px;
  }
}

@media (max-width: 979px) {
  .choose__content-img {
    width: 457px;
    height: 795px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
  }
}

.choose__content-img img {
  position: absolute;
  margin: 0;
}

.choose__content-img img.smile {
  width: 43%;
  max-width: 194px;
  top: 24.1%;
  right: -22.75%;
  z-index: 11;
}

@media (max-width: 979px) {
  .choose__content-img img.smile {
    top: -249px;
    left: 3%;
  }
}

.choose__content-img img.product {
  width: 75%;
  max-width: 341px;
  bottom: 4%;
  right: -49.23%;
  z-index: 10;
}

@media (max-width: 979px) {
  .choose__content-img img.product {
    top: -16.83%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.choose__content-img img.girl {
  width: 85%;
  max-width: 386px;
  bottom: 0;
  left: 30px;
}

@media (max-width: 979px) {
  .choose__content-img img.girl {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.choose__content-img .sale {
  position: absolute;
  bottom: 4.86%;
  right: -19.74%;
  z-index: 15;
}

@media (max-width: 979px) {
  .choose__content-img .sale {
    top: -209px;
    right: 3%;
  }
}

.choose__content-img figure {
  width: 100%;
  height: 100%;
  background: #fdda42;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.choose__content-img:before, .choose__content-img:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

.choose__content-img:before {
  /* скрыть на md */
  width: 130px;
  height: 122px;
  background: url("../img/choose/1.png") no-repeat center/cover;
  top: 111px;
  left: -186px;
}

@media (max-width: 979px) {
  .choose__content-img:before {
    display: none;
  }
}

.choose__content-img:after {
  width: 92px;
  height: 184px;
  background: url("../img/choose/2.png") no-repeat center/cover;
  bottom: -31px;
  left: -76px;
}

@media (max-width: 979px) {
  .choose__content-img:after {
    bottom: -9px;
    left: -10px;
  }
}

.choose__content .price {
  max-width: 300px;
  text-align: center;
  margin-left: 62.54%;
}

@media (max-width: 1199px) {
  .choose__content .price {
    margin-left: 56.54%;
  }
}

@media (max-width: 979px) {
  .choose__content .price {
    margin: 27px auto;
  }
}

.choose__content form {
  max-width: 300px;
  margin: 27px 0 0 62.54%;
  position: relative;
}

@media (max-width: 1199px) {
  .choose__content form {
    margin-left: 56.54%;
  }
}

@media (max-width: 979px) {
  .choose__content form {
    margin: 0 auto;
  }
}

.choose__content form .form-group input {
  padding: 13px 20px 12px;
}

.choose__content form:before {
  /* скрыть на md */
  content: "";
  display: block;
  width: 162px;
  height: 173px;
  background: url("../img/choose/5.png") no-repeat center/cover;
  position: absolute;
  top: -122px;
  right: -246px;
}

@media (max-width: 1199px) {
  .choose__content form:before {
    right: -146px;
  }
}

@media (max-width: 979px) {
  .choose__content form:before {
    display: none;
  }
}

.choose__content:before, .choose__content:after {
  content: "";
  display: block;
  position: absolute;
}

.choose__content:before {
  /* скрыть на md */
  width: 112px;
  height: 112px;
  background: url("../img/choose/3.png") no-repeat center/cover;
  top: -117.04px;
  left: -125.04px;
}

@media (max-width: 1199px) {
  .choose__content:before {
    left: 0;
  }
}

@media (max-width: 979px) {
  .choose__content:before {
    display: none;
  }
}

.choose__content:after {
  width: 260px;
  height: 178px;
  background: url("../img/choose/4.png") no-repeat center/cover;
  bottom: -117px;
  right: -393px;
}

@media (max-width: 1199px) {
  .choose__content:after {
    right: -153px;
  }
}

@media (max-width: 979px) {
  .choose__content:after {
    width: 130px;
    height: 89px;
    bottom: -89px;
    right: -88px;
  }
}

/*
    footer style
 */
.footer {
  background: #c3daff;
  padding: 17px 0;
  position: relative;
  z-index: 20;
}

.footer__content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 63px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199px) {
  .footer__content {
    padding: 0;
  }
}

@media (max-width: 979px) {
  .footer__content {
    display: block;
    text-align: center;
  }
}

.footer__content p {
  font-size: 14px;
  line-height: 14px;
  color: #444;
}

.footer__content p.politic {
  cursor: pointer;
}

.footer__content p.politic:hover {
  text-decoration: underline;
}

.footer__content p:nth-child(2) {
  margin: 6px auto;
}

/*# sourceMappingURL=style.css.map */
