/*
    font face
 */

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff");
}
$b : "OpenSans-Bold";

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff");
}
$r : "OpenSans-Regular";

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.woff");
}
$sb : "OpenSans-SemiBold";

