/*
    advantages style
 */

.advantages {
  padding: 5px 0 64px;

  @include mq(md) {
    padding: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include mq(s) {
      display: block;
    }

    &-block {
      box-sizing: border-box;
      width: 32%;
      max-width: 360px;
      padding: 50px 0 44px;
      border-radius: 20px;
      text-align: center;
      transition: all 0.75s ease-in-out;
      position: relative;

      @include mq(s) {
        width: 100%;
        margin: 0 auto 30px;
      }

      span {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin: 0 auto 28px;
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 90px;
          height: 90px;
          position: absolute;
          top: 15px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      h4 {

        @include mq(lg) {
          font-size: 22px;
        }

        @include mq(md) {
          font-size: 20px;
        }

        @include mq(s) {
          font-size: 24px;
        }
      }

      &:before {
        content: "";
        display: block;
        width: 76px;
        height: 148px;
        position: absolute;
        top: 26px;
        right: 112px;

        @include mq(xs) {
          right: 27.24%;
        }
      }

      &:first-child {

        span {
          background: #ff650f;
          box-shadow: 0 10px 20px rgba(255, 101, 15, 0.3);

          &:after {
            background: url("../img/advantages/1.png") no-repeat center/cover;
          }
        }

        &:before {
          background: url("../img/advantages/4.png") no-repeat center/cover;
        }
      }

      &:nth-child(2) {

        span {
          background: #7854f6;
          box-shadow: 0 10px 20px rgba(120, 84, 246, 0.3);

          &:after {
            background: url("../img/advantages/2.png") no-repeat center/cover;
          }
        }

        &:before {
          background: url("../img/advantages/5.png") no-repeat center/cover;
        }
      }

      &:last-child {

        @include mq(s) {
          margin-bottom: 0;
        }

        span {
          background: #ee4057;
          box-shadow: 0 10px 20px rgba(238, 64, 87, 0.3);

          &:after {
            width: 98px;
            background: url("../img/advantages/3.png") no-repeat center/cover;
          }
        }

        &:before {
          background: url("../img/advantages/6.png") no-repeat center/cover;
        }
      }

      &:hover {
        background: #faf9ff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }
}