/*
    description style
 */

.description {
  background: #e7f0ff;
  padding: 33px 0 56.6px;

  @include mq(md) {
    padding: 17px 0 67px;
  }

  h3 {
    max-width: 655px;
    margin: 0 auto 166px;

    @include mq(md) {
      margin-bottom: 99px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    @include mq(s) {
      display: block;
    }

    &-block {
      box-sizing: border-box;
      width: 49%;
      max-width: 555px;

      @include mq(s) {
        width: 100%;
        margin: 0 auto;
      }

      figure {
        padding: 103px 0 43px;
        background: #ffffff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        text-align: center;
        position: relative;
        z-index: 9;

        @include mq(xs) {
          box-sizing: border-box;
          padding: 103px 10px 43px;
        }

        h4 {

          @include mq(lg) {
            font-size: 22px;
          }

          @include mq(md) {
            font-size: 24px;
          }
        }

        p {
          box-sizing: border-box;
          padding: 0 50px;
          margin-top: 14px;

          @include mq(md) {
            padding: 0 25px;
          }

          @include mq(xs) {
            padding: 0;
          }
        }

        &:after {
          content: "";
          display: block;
          width: 170px;
          height: 170px;
          border-radius: 20px;
          position: absolute;
          top: -75px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &:first-child, &:nth-child(2) {
        margin-bottom: 135px;

        @include mq(md) {
          margin-bottom: 114px;
        }
      }

      &:first-child, &:last-child {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
        }
      }

      &:first-child {

        figure {

          &:after {
            background: url("../img/description/1.png") no-repeat center/cover;
          }
        }

        &:before {
          width: 260px;
          height: 260px;
          background: url("../img/description/5.png") no-repeat center/cover;
          bottom: -105px;
          left: -143px;

          @include mq(md) {
            width: 130px;
            height: 130px;
            bottom: -55px;
            left: -45px;
          }
        }
      }

      &:nth-child(2) {

        figure {

          &:after {
            background: url("../img/description/2.png") no-repeat center/cover;
          }
        }
      }

      &:nth-child(3) {

        @include mq(s) {
          margin-bottom: 114px;
        }

        figure {
          &:after {
            background: url("../img/description/3.png") no-repeat center/cover;
          }
        }
      }

      &:last-child {

        figure {

          &:after {
            background: url("../img/description/4.png") no-repeat center/cover;
          }
        }

        &:before {
          width: 284px;
          height: 252px;
          background: url("../img/description/6.png") no-repeat center/cover;
          bottom: -56.6px;
          right: -90.83px;

          @include mq(s) {
            top: -271.4px;
            right: -225.17px;
          }
        }
      }
    }
  }
}