/*
    choose style
 */

.choose {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e7f0ff 100%);
  padding: 25px 0 70px;

  @include mq(md) {
    padding: 15px 0 45px;
  }

  p.send {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__content {
    margin-top: 86px;
    position: relative;

    @include mq(md) {
      margin-top: 61px;
    }

    h2 {
      text-align: center;
      margin-left: auto;
      max-width: 559px;

      @include mq(md) {
        margin: 0 auto;
      }
    }

    h4 {
      line-height: 150%;
      text-align: center;
      max-width: 555px;
      margin: 26px 0 38px auto;

      @include mq(md) {
        margin: 7px auto 251px;
      }

      span {
        display: block;
        color: #ee4057;
      }
    }

    &-img {
      width: 457px;
      height: 600px;
      position: absolute;
      top: 23px;
      left: 0;
      z-index: 9;

      @include mq(lg) {
        top: 53px;
        width: 360px;
        height: 472px;
      }

      @include mq(md) {
        width: 457px;
        height: 795px;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
      }

      img {
        position: absolute;
        margin: 0;

        &.smile {
          width: 43%;
          max-width: 194px;
          top: 24.1%;
          right: -22.75%;
          z-index: 11;

          @include mq(md) {
            top: -249px;
            left: 3%;
          }
        }

        &.product {
          width: 75%;
          max-width: 341px;
          bottom: 4%;
          right: -49.23%;
          z-index: 10;

          @include mq(md) {
            top: -16.83%;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &.girl {
          width: 85%;
          max-width: 386px;
          bottom: 0;
          left: 30px;

          @include mq(md) {
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      .sale {
        position: absolute;
        bottom: 4.86%;
        right: -19.74%;
        z-index: 15;

        @include mq(md) {
          top: -209px;
          right: 3%;
        }
      }

      figure {
        width: 100%;
        height: 100%;
        background: #fdda42;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
      }

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
      }

      &:before {
        /* скрыть на md */
        width: 130px;
        height: 122px;
        background: url("../img/choose/1.png") no-repeat center/cover;
        top: 111px;
        left: -186px;

        @include mq(md) {
          display: none;
        }
      }

      &:after {
        width: 92px;
        height: 184px;
        background: url("../img/choose/2.png") no-repeat center/cover;
        bottom: -31px;
        left: -76px;

        @include mq(md) {
          bottom: -9px;
          left: -10px;
        }
      }
    }

    .price {
      max-width: 300px;
      text-align: center;
      margin-left: 62.54%;

      @include mq(lg) {
        margin-left: 56.54%;
      }

      @include mq(md) {
        margin: 27px auto;
      }
    }

    form {
      max-width: 300px;
      margin: 27px 0 0 62.54%;
      position: relative;

      @include mq(lg) {
        margin-left: 56.54%;
      }

      @include mq(md) {
        margin: 0 auto;
      }

      .form-group {

        input {
          padding: 13px 20px 12px;
        }
      }

      &:before {
        /* скрыть на md */
        content: "";
        display: block;
        width: 162px;
        height: 173px;
        background: url("../img/choose/5.png") no-repeat center/cover;
        position: absolute;
        top: -122px;
        right: -246px;

        @include mq(lg) {
          right: -146px;
        }

        @include mq(md) {
          display: none;
        }
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      /* скрыть на md */
      width: 112px;
      height: 112px;
      background: url("../img/choose/3.png") no-repeat center/cover;
      top: -117.04px;
      left: -125.04px;

      @include mq(lg) {
        left: 0;
      }

      @include mq(md) {
        display: none;
      }
    }

    &:after {
      width: 260px;
      height: 178px;
      background: url("../img/choose/4.png") no-repeat center/cover;
      bottom: -117px;
      right: -393px;

      @include mq(lg) {
        right: -153px;
      }

      @include mq(md) {
        width: 130px;
        height: 89px;
        bottom: -89px;
        right: -88px;
      }
    }
  }
}