/*
    header start
 */

.header {
  background: linear-gradient(180deg, #e7f0ff 0%, rgba(255, 255, 255, 0) 100%);
  padding: 77px 0 138px;

  @include mq(md) {
    padding: 13px 0 36px;
  }

  &__content {
    position: relative;

    @include mq(md) {
      display: flex;
      flex-direction: column;
    }

    h1 {
      max-width: 655px;

      @include mq(lg) {
        max-width: 580px;
      }

      @include mq(md) {
        max-width: 655px;
        margin: 0 auto;
        text-align: center;
        order: 1;
        position: relative;
        z-index: 9;
      }
    }

    h4 {
      margin: 27px auto 47px;

      @include mq(lg) {
        max-width: 580px;
        margin: 27px 0 47px;
      }

      @include mq(md) {
        max-width: 100%;
        text-align: center;
        order: 2;
        margin: 9px auto 66px;
      }
    }

    &-img {
      max-width: 457px;
      position: absolute;
      top: 23px;
      right: 0;

      @include mq(lg) {
        max-width: 360px;
        top: 53px;
      }

      @include mq(md) {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        order: 3;
      }

      @include mq(s) {
        width: 100%;
        max-width: 400px;
      }

      figure {
        position: relative;
        z-index: 9;

        img {

          &.bg {
            width: 100%;
            border-radius: 20px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
          }

          &.girl {
            width: 123%;
            max-width: 560px;
            position: absolute;
            bottom: 0;
            right: 4.38%;

            @include mq(s) {
              width: 86%;
              min-width: 250px;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          &.product {
            width: 95%;
            max-width: 434px;
            position: absolute;
            top: calc(29.83% - 10px);
            left: -63%;

            @include mq(s) {
              width: 100%;
              top: -13%;
              left: -4%;
            }
          }
        }

        .sale {
          position: absolute;
          bottom: calc(16.7% + 10px);
          left: calc(-32.82% - 27px);

          @include mq(lg) {
            bottom: calc(12.7% + 10px);
            left: calc(-35.82% - 27px);
          }

          @include mq(s) {
            top: 36%;
            left: 6.55%;
          }

          @include mq(xs) {
            width: 94px;
            height: 47px;
          }

          span {

            @include mq(xs) {
              font-size: 24px;
              top: 7.83px;
              left: 19.52px;
            }
          }
        }
      }

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
      }

      &:before {
        /* заменить на */
        width: 284px;
        height: 252px;
        background: url("../img/header/3.png") no-repeat center/cover;
        top: 23px;
        right: -89.83px;

        @include mq(s) {
          width: 42px;
          height: 75px;
          background: url("../img/header/1.png") no-repeat center/cover;
          top: calc(100% - 95px);
          left: 20px;
          z-index: 12;
        }
      }

      &:after {
        width: 184px;
        height: 92px;
        background: url("../img/header/4.png") no-repeat center/cover;
        bottom: -72px;
        right: -50px;

        @include mq(md) {
          transform: rotate(90deg);
          transform-origin: center;
          top: -6px;
          right: -91px;
        }
      }
    }

    ul {

      @include mq(md) {
        max-width: 350px;
        margin: 48px auto 0;
        order: 6;
      }

      li {
        box-sizing: border-box;
        padding-left: 51px;
        position: relative;

        p {
          line-height: 130%;
        }

        &:before {
          content: "";
          display: block;
          width: 32px;
          height: 32px;
          background: url("../img/header/checked.png") no-repeat center/cover;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }

        &:nth-child(2) {
          margin: 29px 0;
        }
      }

      &:before {
        content: "";
        display: block;
        width: 180px;
        height: 126px;
        background: url("../img/header/5.png") no-repeat center/cover;
        position: absolute;
        bottom: -213px;
        right: calc(100% - 46px);

        @include mq(lg) {
          bottom: -150px;
          right: calc(100% - 180px);
        }

        @include mq(md) {
          width: 115px;
          height: 119px;
          background: url("../img/header/6.png") no-repeat center/cover;
          bottom: -81px;
          right: 4.08px;
        }

        @include mq(xs) {
          bottom: -91px;
          right: -4.08%;
        }
      }
    }

    .price {
      max-width: 340px;
      text-align: center;
      margin: 52px 0 27px;

      @include mq(md) {
        order: 4;
        margin: 26px auto 27px;
      }
    }

    .to-order {

      @include mq(md) {
        order: 5;
        margin: 0 auto;
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
    }

    &:before {
      /* скрыть на md */
      width: 56px;
      height: 100px;
      background: url("../img/header/1.png") no-repeat center/cover;
      top: 113px;
      left: -138.9px;

      @include mq(md) {
        display: none;
      }
    }

    &:after {
      width: 144px;
      height: 120px;
      background: url("../img/header/2.png") no-repeat center/cover;
      top: -30px;
      right: -192px;

      @include mq(lg) {
        top: -70px;
        right: -52px;
      }

      @include mq(md) {
        width: 72px;
        height: 60px;
        top: 27px;
        right: -42.75px;
      }
    }
  }
}