/*
    general style
 */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

body {
  font-family: $r, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #222;
}

.container {
  width: 1140px;
  margin: 0 auto;

  @include mq(lg) {
    width: 960px;
  }

  @include mq(md) {
    width: 720px;
  }

  @include mq(s) {
    width: 94%;
  }

  @include mq(xs) {
    width: 90.625%;
  }
}

a {
  display: block;
  text-decoration: none;
  text-align: center;

  &:active, &:focus {
    outline: none;
  }
}

img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  user-select: none;
}

h1, h2, h3 {
  font-family: $b, sans-serif;
}

h1, h2 {
  font-size: 48px;
  line-height: 125%;
  color: #472f9c;

  @include mq(lg) {
    font-size: 45px;
  }

  @include mq(md) {
    font-size: 48px;
  }
}

h3 {
  font-size: 36px;
  line-height: 128%;
  text-align: center;
  color: #472f9c;
}

h4, h5 {
  font-family: $sb, sans-serif;
  color: #151d63;
}

h4 {
  font-size: 24px;
  line-height: 130%;
}

h5 {
  font-size: 18px;
  line-height: 150%;
}

.price {

  span {
    line-height: 100%;
    text-transform: uppercase;

    &.old-price {
      font-family: $sb, sans-serif;
      font-size: 24px;
      color: #444;
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #ff0000;
        position: absolute;
        top: 55%;
        transform: translateY(-50%) skewY(-3deg);
        left: 0;
      }
    }

    &.new-price {
      font-family: $b, sans-serif;
      font-size: 30px;
      color: #472f9c;
      display: block;
      margin-top: 8px;
    }
  }
}

.to-order, .form-group.order {
  max-width: 340px;
  text-align: center;

  a, button {
    font-family: $sb, sans-serif;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 19px 0 18px;
    background: #7854f6;
    box-shadow: 0 10px 20px rgba(120, 84, 246, 0.3);
    border: none;
    border-radius: 20px;
    transition: all 0.75s ease-in-out;

    &:hover {
      background: #5625ff;
    }
  }

  p {
    margin-top: 5px;
    line-height: 130%;

    output {
      font-family: $sb, sans-serif;
      color: #472f9c;
    }
  }
}

.sale {
  box-sizing: border-box;
  width: 142px;
  height: 67px;
  background: #3EA010;
  border-radius: 10px;
  transform: rotate(-8deg);
  position: relative;

  span {
    font-family: $sb, sans-serif;
    font-size: 36px;
    line-height: 150%;
    color: #fff;
    position: absolute;
    top: 8.99px;
    left: 29.41px;
  }
}

.owl-nav {
  display: flex;
  justify-content: space-between;

  button {
    position: relative;
    z-index: 25;

    &.owl-next {
      transform: scale(-1, 1);
    }

    svg {

      path {
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;

  button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }
}

form {

  .form-group {

    input {
      font-family: $r, sans-serif;
      font-size: 18px;
      line-height: 23px;
      color: #222;
      display: block;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid #666666;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        font-family: $r, sans-serif;
        font-size: 18px;
        line-height: 23px;
        color: #222;
        opacity: 1;
      }

      &:active, &:focus, &:required {
        outline: none;
      }

      &:active, &:focus {
        border: 1px solid #7854f6;
      }
    }

    &.tel {
      margin: 10px 0 20px;
    }
  }
}