/*
    photo style
 */

.photo {
  background: #e7f0ff;
  padding-bottom: 100px;

  @include mq(md) {
    padding-bottom: 50px;
  }

  h3 {
    margin-bottom: 42px;

    @include mq(md) {
      margin-bottom: 25px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include mq(s) {
      display: block;
    }

    &-block {
      width: 32%;
      max-width: 360px;
      background: #ffffff;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      border-radius: 20px;
      overflow: hidden;

      @include mq(s) {
        width: 100%;
        max-width: 450px;
        margin: 0 auto 30px;
      }

      img {
        width: 100%;
      }

      &:last-child {

        @include mq(s) {
          margin-bottom: 0;
        }
      }
    }
  }
}